@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;900&display=swap');
.nomarge {
    margin: 0 !important;
}

header {
    background-color: white;
    width: 100%;
}

#logo {
    width: 100px;
    margin-top: 20px;
}

.one-edge-shadow {
    -webkit-box-shadow: 12px 12px 10px -9px #a8a8a8;
    -moz-box-shadow: 0 12px 10px -9px #a8a8a8;
    box-shadow: 12px 12px 10px -9px #a8a8a8;
}

.btnicon {
    border: none !important;
    float: right;
    margin-top: 10px;
}

.btngris {
    background-color: gray !important;
    color: white !important;
    width: 100%;
    font-weight: 900 !important;
    margin-bottom: 25px;
}

.btnrouge {
    background-color: #CA2D1E !important;
    color: white !important;
    width: 100%;
    font-weight: 900 !important;
    margin-bottom: 25px;
}

.btnwhite {
    background-color: white !important;
    color: gray !important;
    width: 100%;
    font-weight: 900 !important;
    margin-bottom: 25px;
}

.btncat {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px !important;
    font-weight: 400;
    width: 150px;
    border: none !important;
    text-decoration: none;
    line-height: 70px;
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
    color: #3F3F41;
    height: 30px;
    outline: 0;
}

.btncat:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.btncat:hover:after {
    width: 90%;
    background: #CA2D1E;
}

.marge {
    margin: 24px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3F3F41;
}